name: Release

on:
  release:
    types: [ published ]

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-apk.yml
    with:
      version-name: ${{ github.ref_name }}
    secrets:
      google-services-json: ${{ secrets.GOOGLE_SERVICES_JSON }}
      signing-key-store-base64: ${{ secrets.SIGNING_KEY_STORE_BASE64 }}
      signing-key-alias: ${{ secrets.SIGNING_KEY_ALIAS }}
      signing-key-password: ${{ secrets.SIGNING_KEY_PASSWORD }}
      signing-store-password: ${{ secrets.SIGNING_STORE_PASSWORD }}
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: release-artifacts
      - name: Create Github Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          prerelease: true
          files: |
            ./apk/release/app-release.apk
            ./bundle/release/app-release.aab
